@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  --flipCorder: #000;
  --bodyColor: #808080;

  /*
    -- Color pallet
  */
  --primaryGreen: #048b44;
  --primaryYellow: #fbb404;
  --secoundryGreen: #5b9a2e;
  --secoundryYellow: #bfac14;
  --paleLimeGreen: #96a31d;
}

*,*:after,*:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--bodyColor);
}

.container__main {
  min-height: 80vh;
}

.hidden {
  display: none;
}

.box__result {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  margin-bottom: 3rem;
}

.box__result > li:first-child {
  margin-right: 0.75rem;
}

.box__result > li > span:first-child {
  margin-right: 0.25rem;
}

.box__result > li > span:last-child {
  font-weight: 500;
}

.box--coin {
  font-size: 0.88rem;
    padding: 0.5rem;
    /* margin-top: 0.25rem; */
    /* box-shadow: 0 0 5px rgba(0,0,0,.15); */
    border-radius: 5px;
    /* font-weight: 300; */
    display: inline-block;
    /* max-width: 70px; */
    /* margin: 0.5rem auto; */
    text-transform: capitalize;
    /* color: #fff; */
}

.box--heads {
  border: 1px solid var(--secoundryYellow);
  /* background-color: var(--secoundryYellow); */
}

.box--tails {
  border: 1px solid var(--secoundryGreen);
  /* background-color: var(--secoundryGreen); */
}

.btn {
  font-family: 'Roboto', sans-serif;
  padding: 0.35rem 1rem;
  border:2px solid var(--primaryGreen);
  background-color: var(--primaryGreen);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #fff;
  background-color: var(--primaryGreen);
}

.btn--flipcoin {
  position: relative;
  min-width: 88px;
  min-height: 30px;
  line-height: 26px;
  overflow: hidden;
}

.btn--flipcoin > .btnTxt--original {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.25s;
  /* background: red; */
}

.btn--flipcoin > .onhover--text,
.btn--flipcoin > .onhover--icon {
  position: absolute;
  left: 5px;
  top: 100%;
  height: 100%;
  width: 100%;
  bottom: 0;
  transition: all 0.25s;
}

.btn--flipcoin > .onhover--icon {
  text-align: left;
  padding-left: 0.5rem;
  left: 0;
}

.btn--flipcoin:hover > .btnTxt--original {
  bottom: 100%;
}

.btn--flipcoin:hover > .onhover--text,
.btn--flipcoin:hover > .onhover--icon {
  top: 0;
}

a {
  color: var(--bodyColor);
}

.submain__header {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0;
}

.outer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner__wrapper {
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
}

.inner__wrapper.inner__wrapper--padded {
  padding: 5rem;
}

button {
  font-family: 'Roboto', sans-serif;
}

main {
  /* perspective: 100px; */
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.navigation {
  /* padding: 1rem; */
  font-size: 0.88rem;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-weight: 300;
  box-shadow: 0 0 5px rgba(0,0,0,.05);
}

.navigation > ul  {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation > ul > li  {
  display: inline-block;
}

.navigation > ul > li > a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 1rem;
} 

.navigation > ul > li > a:after {
  content: '';
  position: absolute;
  left: 0;
  width: 0; 
  top: 100%;
  top: calc(100% - 2px);
  height: 2px;
  background: var(--primaryYellow);
  transition: width 0.5s;
}

.navigation > ul > li > a:hover:after {
  width: 100%;
}

.lastfewresults {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 1rem;
}

.lastfewresults > li {
  font-size: 0.88rem;
  padding: 0.5rem;
  margin-top: 0.25rem;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  border-radius: 5px;
  font-weight: 300;

  display: block;
  max-width: 70px;
  margin: 0.5rem auto;
  text-transform: capitalize;
  color: #fff;
}

.lastfewresults > li.heads {
  background-color: var(--secoundryYellow);
}

.lastfewresults > li.tails {
  background-color: var(--secoundryGreen);
}

.coin-wrapper {
  position: relative;
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
}

.coin-toss {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  animation-fill-mode: forwards;
}

.head {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  /* background-color: red; */
  transform-style: preserve-3d;
  backface-visibility: hidden;

  background-image: url('../heads.png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  object-fit: contain;
}

.head:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  /* background-color: orange; */
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;


  background-image: url('../tails.png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  object-fit: contain;
}

.coin-toss--reverse .head {
  background-image: url('../tails-upright.png');
  /* transform: rotateY(180deg); */
}

.coin-toss--reverse .head:after {
  /* transform: rotateY(0); */
  /* backface-visibility: visible; */
  background-image: url('../rupee.png');
}

.coin-toss.flipHeads {
  animation-name: flipToHeads;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.coin-toss.flipTails {
  animation-name: flipToTails;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes flipToHeads {
  0% {
    box-shadow: 0 0 0 rgba(0,0,0,1);
    transform: perspective(200px) scale(1) rotateX(0);
   }
   50% {
    transform: perspective(200px) scale(1.8) rotateX(-360deg);
   } 
   100% {
    transform: perspective(200px) scale(1) rotateX(-720deg);
   }
}

@keyframes flipToTails {
  0% {
    box-shadow: 0 0 0 rgba(0,0,0,1);
    transform: perspective(200px) scale(1) rotateX(0);
   }
   50% {
    transform: perspective(200px) scale(1.8) rotateX(-540deg);
   } 
   100% {
    transform: perspective(200px) scale(1) rotateX(-900deg);
   }
}



/* RESPONSIVE CODE */

@media (max-width: 767px) {

  .inner__wrapper {
    margin: 1rem 0;
  }

  .outer__wrapper {
    flex-direction: column;
  }

  .heading--main {
    font-size: 1.5rem;
  }

  .header__container {
    padding: 1rem;
    /* margin-bottom: 1rem; */
  }
}

/*
  RESOURCES :- 
  - nice article for 3d animation :- https://www.quackit.com/css/functions/css_translate3d_function.cfm
  - how to create shadow :- https://codepen.io/xaelan/pen/wvwPpLa

  - [ Way to make a 3D flip ] Very informative :- https://3dtransforms.desandro.com/card-flip
    - https://codepen.io/desandro/pen/LmWoWe
  - [ Way to make a 3D flip ] Stack Overflow :- https://stackoverflow.com/a/17533399
*/


/* Additioanl unimportant css */

.content__container {
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  padding: 2rem;
  margin: 2rem auto;
  max-width: 992px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}

.content__header {
  position: relative;
  display: inline-block;
  padding: 1rem;
  background: #fff;
  margin: 2rem auto;
}

.content__header--extramargin {
  margin: 3rem auto;
}


.content__header:after {
  background: linear-gradient(315deg, var(--primaryGreen), var(--primaryYellow));
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
    /* background: rgba(255,255,255,1); */
  /* background: #FFF; */
  transform: skew(2deg,2deg);
  z-index: -1;
  /* content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid orange; */
}

.content__header > h2,
.content__header > h1 {
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.content__header > p {
  margin: 0;
}

.content__datalist {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.content__datalist > li {
  margin-bottom: 1rem;
  text-align: center;
}

.content__datalist > li > span:first-child {
  padding: 0.25rem 0.5rem;
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 1.15rem;
  /* background: tomato; */
  /* border-bottom: 2px solid orange; */
  /* color: #fff; */
  /* border-radius: 5px; */
}

.content__datalist > li > span:first-child:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 35%;
  right: 35%;
  height: 1px;
  background: var(--primaryYellow);
}

.content__datalist > li > span:last-child {
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
  /* font-size: ; */
}

.content__datalist > dd {
  display: inline-block;
}